.jumbotron {
    height: 100vh;
    background-image: url("/images/rime.webp");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

@supports ( -webkit-touch-callout : none) {
    .jumbotron {
        background-attachment:scroll
    }
}

.pic{
    position:relative;

}

.framus{
    position: absolute;
    top:92vh;
    left:20px;
}