.nameContainer {

    width: 100%;
    margin-top: 75px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.methodinfos {
    display: flex;
    /*flex-wrap: wrap;*/
    background-color: #124559;

}

.rightcolumn {
    padding: 50px;
}

.albumHeader {
    display: flex;
    justify-content: space-evenly;
    -webkit-box-shadow: inset 0px 9px 13px -2px rgba(0, 0, 0, 0.36);
    box-shadow: inset 0px 9px 13px -2px rgba(0, 0, 0, 0.36);
    padding-top: 50px;
}

.albumName {

    font-family: "Orbitron", sans-serif;
    font-size: 2em;

    color: var(--secondary);
    font-weight: bold;
    margin-top: 15px;
    z-index: 2;
    /*width: 80%;*/
    /*padding: 10px 0 0 20px;*/
    /*text-align: center;*/
}

.infoContainer {
    padding: 30px 30px 0 30px;
    color: var(--secondary);
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;
    display: flex;
}


.quote {

}

.mediaSeparator {
    background-image: url("/images/bg/astriangle.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 140px;

}

.listenSeparator {
    background-image: url("/images/bg/tilt.svg");
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 140px;

}

.pdfContainer {
    padding-bottom: 100px;
}

.albumCover {
    margin-left: 30px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 400px;
}

.albumImage {

}

.blogImage {
    width: 500px;
    margin: auto;
    -webkit-box-shadow: 5px 5px 21px 9px #000000;
    box-shadow: 5px 5px 21px 9px #000000;
}

.titleSeparator {
    background-image: url("/images/bg/paper.svg");
    height: 140px;
    width: 100%;
    background-position: top;
    background-size: cover;
}

.media {
    background-color: var(--secondary);
    /*width:100%;*/
    /*align-items: center;*/
    /*color: white;*/
    /*display: flex;*/
    /*justify-content: space-evenly;*/
    /*gap:30px;*/
    padding: 100px 30px 100px 30px;
    /*flex-wrap: wrap;*/
}

.video {
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    padding: 30px;
    color: white;
    background-color: var(--secondary);
    font-family: Orbitron, sans-serif;
    font-size: 1.8em;
}

.items {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}


.items img {
    cursor: pointer;
}

.listen {
    /*background-color: var(--primary);*/

}

.player {
    width: 30%;
    height: 200px;
}

.albumRightContainer {
    padding: 0 50px;
    min-width: 700px;
}

.albumDescription {
    color: var(--secondary);
    padding-top: 20px;
    font-family: "Montserrat Alternates", sans-serif;
    line-height: 1.5;
}

.infoTable {
    margin-top: 16px;
    max-width: 100%;
    max-height: 200px;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--secondary);
    font-family: "Nanum Gothic", sans-serif;
    margin-bottom: 10px;
}

.tableTitle {
    font-family: Orbitron, sans-serif;
    font-size: 1.1em;
    color: var(--accent2)

}

.description {

    font-family: "Montserrat Alternates", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttonContainer {
    /*display: flex;*/
    /*width: 100%;*/
    /*justify-content: center;*/
}

.buy {

    margin-top: 20px;
    background-color: var(--accent);

}

.buy:hover {
    background-color: var(--accent);
    opacity: 0.7;
    cursor: pointer;

}

.digital {
    width: 60%;
    height: 80px;
    margin: 20px;
    background-color: #ffe8d6;
    color: black;
    font-size: 2.5vw;
    font-family: Orbitron, sans-serif;
}

.digital:hover {
    background-color: #ddbea9;

}


.menuItem {
    height: 50px;
    color: black;
    width: 350px;
    font-size: 2em;
}

.infoTable td {
    border-bottom: 1px solid var(--accent2);
    padding: 10px;
}

.titleContainer {
    width: 100%;
    margin-top: 75px;
    background-size: cover;
    background-position: center;

}

.tear {

}

.titleBackground {

    background-size: cover;
    background-position: center;
    /*height: 40vh;*/
}

.filter {
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameContainer h1 {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 4em;
}

.buyButton {
    width: 100%;
    background-color: var(--accent);
    margin: 10px 0 10px 0;

}

.buyButton:hover {
    background-color: var(--accent);
    opacity: 0.7;
}


@media (max-width: 1200px) {
    .infoContainer {
        flex-wrap: wrap;
    }

    .infoTable {

        /*max-width : 70%;*/
    }

    .player {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 1100px){
    .albumHeader {
        flex-wrap: wrap;
        padding-top: 0;
    }
}

@media (max-width: 900px) {

    .video {

        padding: 30px 0;

    }


    .albumDescription {

        padding: 20px 10px;

    }

    .albumName {
        padding: 0 10px;
    }

    .albumCover {
        padding: 0;
        width: 100vw;
        margin-left: 0;
    }




    .methodinfos {

        flex-wrap: wrap;

    }

    .infoContainer {
        padding: 0;
    }

    .infoTable {
        border-radius: 0;
        max-width: 100%;
        padding: 0 30px;
    }

    /*.infoTable tr{*/
    /*    border-bottom:0;*/
    /*    border-top: 1px solid grey;*/
    /*}*/
    .buttonContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .modalButtonContainer {
        display: inline-block;
    }


    .albumRightContainer {
        padding: 0;
    }

    .tableTitle {
        /*min-width: 30vw;*/
    }

    .items {
        padding: 30px 0 30px 0;
    }

    .buy {
        width: 90%;

        font-size: 3vw;
    }

    .digital {
        width: 90%;

        font-size: 2.5vw;
    }

}
@media only screen and (min-width: 2000px) {
    .albumHeader{
        padding: 50px 10% 0 10%;

    }

    .media {
        padding : 100px 10%;
        min-height: 500px;
    }


}


@media only screen and (min-width: 2000px) {
    .albumHeader{
        padding: 50px 10% 0 10%;

    }

    .media {
        padding : 100px 10%
    }


}

@media only screen and (min-width: 2400px) {
    .albumHeader{
        padding: 50px 20% 0 20%;

    }

    .media {
        padding : 100px 20%
    }


}