.nameContainer{

    width:100%;
    margin-top:75px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.albumName{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    font-family: "Nanum Gothic", sans-serif;

    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.infoContainer{
    padding:30px 30px 0 30px;
    align-items: flex-start;
    justify-content: space-around;
    display: flex;
}

.mediaSeparator{
    background-image: url("/images/bg/astriangle.svg");
    background-repeat: no-repeat;
    background-position: top;
    min-height: 100px;
    max-height: 100px;
}

.listenSeparator{
    background-image: url("/images/bg/tilt.svg");
    background-repeat: no-repeat;
    background-position: top;
    min-height: 100px;
    max-height: 100px;
}

.blogImage{
    width: 500px;
    margin:auto;
    -webkit-box-shadow: 5px 5px 21px 9px #000000;
    box-shadow: 5px 5px 21px 9px #000000;
}

.media{
    background-color: #124559;
    width:100%;
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-evenly;
    gap:30px;
    padding:30px;
    flex-wrap: wrap;
}
.items{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}



.items img{
    cursor: pointer;
}

.listen{
    background-color: #01161E;

}

.player{
    width : 30%;
    height:200px;
}

.infoTable{
    margin-top : 16px;
    max-width : 30%;
    background-color: rgba(255,255,255, 0.3);
    border-radius: 20px 0 20px 0;
    color:white;
    font-family: "Nanum Gothic", sans-serif;
    margin-bottom: 10px;
}

.tableTitle{
    font-family: Orbitron, sans-serif;
    font-size: 1.1em;

}

.description{

    font-family: "Montserrat Alternates", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buy{
    width:60%;
    height:80px;
    margin:20px;
    background-color: #AEC3B0;
    color:black;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 2em;
}

.buy:hover{
    background-color: #648868;
}

.infoTable td{
    border-bottom: 1px solid grey;
    padding: 10px;
}

.titleContainer{
    width: 100%;
    margin-top: 75px;
    background-size: cover;
    background-position: center;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter{
    background-color: rgba(0,0,0,0.35);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameContainer h1{
    font-family: "Nanum Gothic", sans-serif;
    font-size: 4em;
}


@media  (max-width: 1200px){
    .infoContainer{
        flex-wrap: wrap;
    }
    .infoTable{

        max-width : 70%;
    }
    .player{
        width : 100%;
        height: 300px;
    }
}

@media  (max-width: 720px) {

    .infoTable {

        max-width: 100%;
    }
}
