.infos{
  width: 300px;
    position: relative;
    text-align: center;
    color: black;
    z-index: 1;

}

.albumCaptions{
    display:block;
    justify-content: left;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.albumCover{
    transition: 0.5s;
    /*width: 300px;*/
    position: relative;
    color: var(--secondary);
    z-index: 1;

}
.modalButtonContainer {
    display: inline-block;
}

.capTitle{
    font-family: Orbitron, sans-serif;
    margin: 10px 0 10px 0;
    max-width:250px;
    font-size: 1.2em;
    color: var(--secondary);

}

.capTitleDark{
    font-family: Orbitron, sans-serif;
    margin: 10px 0 10px 0;
    max-width:250px;
    font-size: 1.2em;
    color: var(--primary);

}
.capDate{
    font-family: "Montserrat Alternates", sans-serif;
    color:var(--secondary);
}

.capDateDark{
    font-family: "Montserrat Alternates", sans-serif;
    color:var(--primary);
}
.albumCover:hover img{

    cursor: pointer;
    transform: scale(1.1);
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    transition: 0.5s;


}

.albumCover:hover .titleContainer{

    transform: translateY(20px);
    transition: 0.5s;


}

.titleContainer{
    transition: 0.5s;
}

.albumCover img{


    transition: 0.5s;


}





