.bioHeader{
    margin-top: 75px;
    padding: 50px;
    display: flex;


}

.bioHeader h1{
    font-size: 2em;
    margin-top:-10px;
    font-family: Orbitron,sans-serif;
    padding-bottom: 20px;
}



.mainImage{
    width:300px;
}

.biobg{
    width: 100%;
    height: 100%;
    background-image: url("/images/bg/biobg.jpg");
    background-position: 0 -400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(8px);
}

.bioseparator{
    background-image: url("/images/bg/paper.svg");
    position: absolute;
    top:10vh;
    background-repeat: no-repeat;
    background-position: bottom;
}

.bioText{
    font-family: "Nanum Gothic",sans-serif;
    flex-shrink: 10;
    line-height: 1.5;
    padding: 0 50px 20px 50px;
    color : var(--secondary)
}

.bioText p {
    padding: 0 0 20px 0;
}



@media  (max-width: 900px) {

    .bioHeader {

        flex-wrap: wrap;
        justify-content: center;
    }

    .bioText{
        padding: 30px 10px 10px 10px;
    }
}