.blogContainer{
    display: flex;
    justify-content: center;
    gap:20px;
    flex-wrap: wrap;

}

.titre {
    font-size: 2em;
    color : black ;
    font-family: Orbitron, sans-serif;
}

.card{
    background-color: var(--primary);
    color:var(--secondary);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 0.4s;
    min-height: 300px;
    margin-left:10px;
    margin-right: 10px;
    max-height: 250px;


}

.clamp{
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.button{

    font-family: "Nanum Gothic", sans-serif;
    position: absolute;
    bottom:15px;
    width:90%;
    color: var(--primary);
    margin-top:10px;

}

.blogHeader{
    margin-top:75px;
    padding:30px 30px 0 30px;
    background-color: var(--secondary);
    z-index:1;
}
.blogImage{
    width: 50%;
    margin:auto;
    -webkit-box-shadow: 5px 5px 15px 3px #000000;
    box-shadow: 5px 5px 15px 3px #000000;
}

.button:hover{
    opacity: 0.9;
}

.card img{

}

.card:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s;
}
.titleContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cardContainer{
width: 340px;
    margin: auto;
}

.blog{
    padding:25px;
    margin :10px;

}

.blogPost{
    padding:50px 20% 50px 20%;
    background-color: var(--primary);
    color:var(--secondary);
    line-height: 2;
    font-family: "Nanum Gothic",sans-serif;
    border-top:2px black solid;
    z-index:2;
    min-height:400px;
}

.date{
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    color:lightgrey;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 1.2em;
}

.blogTitle{
    font-family: Orbitron, sans-serif;
    color:var(--accent);
    padding: 30px 30px 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.headerSeparator{
    height:100px;
    background-image: url("/images/bg/headerSeparator.svg");
}

.blog img{
    max-width: 400px;
}

.blogCard {
    padding: 0 25px 0 25px ;
    flex-grow: 1; /* default 0 */
    flex-shrink: 3;

    width:100%;

}

.blogCard:nth-child(2){
    border-left : 4px dotted gray;
    border-right :4px dotted gray;
}

@media (max-width: 900px) {
    /*.cardContainer {*/
    /*    width: 100%;*/

    /*}*/
    .blogImage{
        width: 80%;

    }
    .blogTitle{
        font-size: 1.7em;
    }
    .blog{
        padding:50px;
        background-color: var(--accent);
        margin: 0 ;

        z-index:2;
    }
    .blogPost {
        padding:20px;
    }

    .blogPost::first-letter{
        display: block;

        font-size: 300%;
        color: red;
    }

}

@media only screen and (min-width: 2000px) {
    .blogContainer{
        padding: 0 10%;

    }


}

@media only screen and (min-width: 2400px) {
    .blogContainer{
        padding: 0 10%;

    }


}



