.blogContainer{
    padding:30px;
    display: flex;
    justify-content: space-evenly;
    gap:20px;
    flex-wrap: wrap;

    width:100%;
}

.card{
    background-color: #598392;
    transition: 0.4s;

}

.card:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s;
}

.mainContainer{

}

.cardContainer{
width: 340px;
    margin: auto;
}

.blog{
padding:25px;
    margin :10px;
}

.blog img{
    max-width: 400px;
}

.blogCard {
    padding: 0 25px 0 25px ;
    flex-grow: 1; /* default 0 */
    flex-shrink: 3;

    width:100%;

}

.blogCard:nth-child(2){
    border-left : 4px dotted gray;
    border-right :4px dotted gray;
}

@media (max-width: 900px) {
    .cardContainer {
        width: 100%;

    }

}



