@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Orbitron&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}





/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --primary: #ebebeb;
  --secondary:#000;
  --nav:#284B63;
  --accent:#ff7d00;
  --accent2:#228be6;
}html,
body {
  padding: 0;
  background-color: var(--secondary);
  margin: 0;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
}

 html {
   scroll-behavior: smooth;
 }

a {
  color: black;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mainDiv{
  position: relative;
}

.wrapper{
  background-color: var(--secondary);
}

.container{
  min-height: calc(100vh - 50px);
  /*padding-bottom:30px;*/
  background-color: var(--primary);

}



