
.container {
  padding: 0 2rem;
}

.main {
  /*min-height: 100vh;*/
  /*padding: 4rem 0;*/
  /*flex: 1;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

.filter{
  background-color: rgba(0,0,0, 0.7);

}

.fitting{
  padding:50px;
  width: 100%;
}

.presentationContainer{
  background-color: var(--primary);
  min-height: 200px;
  display: flex;

  justify-content: space-evenly;

}

.paragraph{
padding:35px;
  color: black;
  margin-bottom: 20px;
  line-height: 1.8;
  overflow: hidden;
  font-family: "Montserrat Alternates",sans-serif;
  flex-grow: 1;
  flex-basis: 0;
  transition: all 0.3s ease-in-out;


}

.paragraphContainer {
  flex-grow: 1;
  flex-basis: 0;


}

.opened {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -webkit-line-clamp: 40;
  max-height: 50em;


}

.closed {
  display: -webkit-box;

  -webkit-line-clamp:3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  max-height: 13em;


}

.icon{
  display: flex;
  justify-content: center;
  padding:20px;

}

.bioSeparator{
  background-image: url("/images/bg/tiltbio.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 140px;
  width: 100%;
  overflow: hidden;
  line-height: 0;


  transform: rotate(180deg);
}

.shortBio a{
  color:white;
}

.shortBio{

  background-image: url("/images/bg/bio.webp");
  color:white;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}


.albumTitleContainer{
  padding-top: 75px;
}

.albumGallery{
  display: flex;
  padding: 30px 30px 70px 30px;
  background-color: var(--primary);
  justify-content: center;
  margin-top: 75px;
  flex-wrap: wrap;
}

.chrisAlbumGallery{
  display: flex;
  padding: 30px 30px 0 30px;
  background-color: var(--primary);
  justify-content: center;
  flex-wrap: wrap;
}

.sidemanGallery {
  color: var(--primary);
  display: flex;
  padding: 30px 30px 100px 30px;
  background-color: var(--secondary);
  justify-content: center;
  flex-wrap: wrap;
}

.albumTitle {
  color : var(--secondary);
  font-family: Orbitron, sans-serif;
  font-size: 2em;
  margin-top:40px;
  text-align: center;
  text-transform: uppercase;
}

.sidemanTitle {
  color : var(--primary);
  font-family: Orbitron, sans-serif;
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}


.buttonContainer{
  display: flex;
  margin-top:20px;
  justify-content: flex-end;
  padding: 0 20px;
}

.readBtnContainer{
  display: flex;
  justify-content: center;
}

.bioButton{
  /*height:30px;*/
  background-color: transparent;
  font-family: Orbitron,sans-serif;
  border: 2px solid white;
  padding: 5px;
  color : var(--primary);
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.3s;

}

.bioButton:hover{
  background-color: white;
  /*color:black;*/
  transition: 0.3s;
}

.bioButton:hover a{
  color:black
}


.footer {
  flex-wrap: wrap;
  display: flex;
  flex: 1;
  background-color: var(--secondary);
  padding: 10px 30px 10px 30px ;
  /*border-top: 1px solid #eaeaea;*/
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  min-height: 50px;
  bottom:0;
  width: 100%;
  border-top: 1px solid var(--accent)
}

.socialIcon{
  transition: 0.3s;
}

.footerItem{
  display: flex;
  align-items: flex-start;

}

.socialIcon:hover{
  transform: rotate(360deg);
  transition: 0.3s;
  cursor: pointer;
}

.social{
  margin-left:auto;
  display: flex;
  gap:10px;
}



.mainVideo{
  margin-top: 20px;
  /*padding:30px 30px 100px 30px;*/
  height: 80%;
  width: 100%;
  background-color: var(--secondary);
}

.copyright{
  display: flex;
  justify-content: space-between;
  gap:10px;
}

.copyright a {
  margin: 0 5px 0 5px;
  color : #598392;
  transition: 0.3s;

}

.copyright a:hover {
  margin: 0 5px 0 5px;
  color : #124559;
  transition: 0.3s;
}

.footer a {
  display: flex;
  color: var(--accent);
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.flag{
  cursor: pointer;
  display: inline-block;

}

.quote {
  color:white;
  display: flex;
  align-items: center;
}

.btnRead{
    background-color: var(--accent);

    margin-top: 20px;
}

.btnRead:hover {
  background-color: var(--accent);
  opacity: 0.8;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;

}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .presentationContainer{
    flex-wrap: wrap;
  }

  .flicking {
    display: flex;
    align-items: center;
  }

  .paragraphContainer {
    flex-grow: unset;
    flex-basis: unset;

  }

  .footer{
    justify-content: center;
    /*bottom:-70px;*/
    padding: 5px;
    /*position: inherit;*/
  }

  .footer a{
    /*justify-content: start;*/
  }
  .copyright{
    /*display: block;*/
  }
  .footerItem{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    /*width:100%;*/

  }



  .social{
    padding-top: 20px;
width: 100%;
    justify-content: center;
  }

  .closed {

    max-height: 12em;


  }
  .paragraph{
    padding : 20px;
    flex-basis: auto;
    text-align: justify;
    margin-bottom: 20px;
  }
  .mainVideo{
    height: 40vh;

  }
  .fitting{
    padding:10px 0 0 0;
    text-align: justify;


  }
}

@media only screen and (min-width: 2000x) {
  .fitting{
    padding:50px 10%;
  }

  .presentationContainer{
    padding : 0 10%;

  }


}

@media only screen and (min-width: 2400px) {
  .fitting{
    padding:50px 20%;
  }

  .presentationContainer{
    padding : 0 20%;

  }


}

