.mainContainer {
    margin-top:75px;
    font-family: "Nanum Gothic", sans-serif;
    color:black;
    padding : 30px 30px 80px 30px;
    font-size: 1.2em;
    line-height: 1.4em;


}

.textWrapper {
    display: flex;
    justify-content: center;
}

.gridMasonry {
    display: flex;
    /*margin-left: -30px; !* gutter size offset *!*/
    justify-content: center;
    align-items: center;
    width: 100%;

    background-color: var(--primary);
}
.grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
}


.grid {
    width: 70%;
    margin-bottom: 20px;
}


.gridWrapper {
    display: flex;
    justify-content: center;
    min-height : 30vw;
}

.textContainer {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 20px;
    width: 60%;
}

.outroText {
    margin-bottom: 20px;
    font-family: Orbitron, sans-serif;
    line-height: 1.4em;
    font-size: 2em;
    display: flex;
    text-align: center ;
}

.button {
    height : 70px;
    font-size: 2em;
}

.list {
    display: flex;
    justify-content: center;
}

.buttonWrapper{
    display: flex;
    justify-content: center;
}

.introText {
    margin-bottom: 20px;
}

@media (max-width: 900px) {
    .textContainer {
        width : 100%;
        box-shadow: none;
        padding : 10px;
    }

    .mainContainer {
        margin-top:50px;
        padding : 10px 10px 80px 10px;


    }

    .outroText {

        font-size: 1.2em;

    }

    .grid {
        width:90%;
    }

}
