.container{
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    margin-bottom:30px;
}


.container canvas {

}
.page{

}

.document{

    /*width: 232px;*/

}

.pnumber{

}

.navbar{
    background-color: rgba(200,200,200, 0.7);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    width:100%;
    align-items: center;
    height: 30px;
    display: flex;
    color:black;
    position:absolute;
    bottom: 0;
    margin-top:-55px;
    justify-content: space-between;
    left:50%;
    transform:translateX(-50%);
    gap:10px;
}

.container button{
    cursor: pointer;
    background-color: rgba(200,200,200, 0.7);
    font-family: Orbitron, sans-serif;
    font-size: 1.4em;

    border: none;
    height: 100%;
}

.container button:hover {
    background-color: rgba(0,0,0, 0.3);
}

@media (max-width: 900px) {
    /*.container canvas {*/
    /*    border-radius: 0;*/
    /*    width:100vw;*/
    /*    height: auto;*/
    /*}*/
}