.container{
    display: flex;
    justify-content: flex-start;
    background-color: #124559;
    padding: 50px;
}

.container canvas {
    border-radius: 25px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.page{

}

.document{

    /*width: 232px;*/

}

.pnumber{

}

.navbar{
    background-color: rgba(200,200,200, 0.7);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    width:40%;
    display: flex;
    color:black;
    position:relative;
    margin-top:-55px;
    justify-content: center;
    left:50%;
    transform:translateX(-50%);
    border-radius: 25px;
    gap:10px;
}

.container button{
    cursor: pointer;
}

.bleft{
    background-color: rgba(200,200,200, 0.7);
    border-radius: 25px 0 0 25px;
    border: none;
}

.bright{
    background-color: rgba(200,200,200, 0.7);
    border-radius: 0 25px 25px 0;
    border: none;

}

@media (max-width: 900px) {
    .container canvas {
        border-radius: 0;
        width:100vw;
        height: auto;
    }
}