.container{
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    margin-bottom:30px;
}


.container canvas {

}
.page{

}

.document{

    /*width: 232px;*/

}

.pnumber{

}

.navbar{
    background-color: rgba(200,200,200, 0.7);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    width:60%;
    align-items: center;
    height: 30px;
    display: flex;
    color:black;
    position:relative;
    margin-top:-55px;
    justify-content: center;
    left:50%;
    transform:translateX(-50%);
    border-radius: 25px;
    gap:10px;
}

.container button{
    cursor: pointer;
}

.bleft{
    background-color: rgba(200,200,200, 0.7);
    border-radius: 25px 0 0 25px;
    border: none;
}

.bright{
    background-color: rgba(200,200,200, 0.7);
    border-radius: 0 25px 25px 0;
    border: none;

}

@media (max-width: 900px) {
    /*.container canvas {*/
    /*    border-radius: 0;*/
    /*    width:100vw;*/
    /*    height: auto;*/
    /*}*/
}