.review{
    padding:30px;
    font-family: "Nanum Gothic",sans-serif;


}

.divider{

width:20%;
    left:50%;
}

.quote{
    background-color: rgba(0,0,0,0.5);
    margin: 30px;
    border-radius: 25px;
    transition: 0.2s;

}

.quote:hover{

    background-color: rgba(0,0,0,0.2);

    transition: 0.2s;
}

.transitionEnter {
    opacity: 0;
}
.transitionEnterActive {
    opacity: 1;
    transition: opacity 500ms;

}
.transitionExit {
    opacity: 1;


}
.dotsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.slide{
    background-color: #124559;
    background: url("/images/bg/waves.svg");
    background-position: center;
    background-size: contain;

    background-repeat: no-repeat;



}

.dots{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    width: auto;
    background-color: rgba(0,0,0,0.1);
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
}

.dots button{
    height:20px;
    width:20px;
    border-radius: 100px;
    border:none;
    background-color: rgba(0,0,0,0.3);
    /*padding: 0;*/
}

.dots button:disabled{

    background-color: rgba(255,255,255,0.3);

    /*padding: 0;*/
}

.carroussel{
    display: flex;
    justify-content: space-around;
}

.transitionExitActive {
    opacity: 0;
    transition: opacity 500ms;
}

@media (max-width: 900px) {
  .dotsContainer{
      display: none;
  }
    .quote{
        background-color: rgba(0,0,0,0.3);
        margin: 0;
        border-radius: 0;
        transition: 0.2s;

    }
}
