.container{
    margin-top: 75px;
    padding: 30px;
}

.jeu{
    -webkit-box-shadow:0px 0px 11px 3px rgba(45,255,196,0.86);
    -moz-box-shadow: 0px 0px 11px 3px rgba(45,255,196,0.86);
    box-shadow: 0px 0px 11px 3px rgba(45,255,196,0.86);
}

.guest {
    -webkit-box-shadow:0px 0px 11px 3px rgba(46,56,255,0.86);
    -moz-box-shadow: 0px 0px 11px 3px rgba(46,56,255,0.86);
    box-shadow: 0px 0px 11px 3px rgba(46,56,255,0.86);
}

.album {
    -webkit-box-shadow: 8px 11px 13px -3px #598392;
    box-shadow: 8px 11px 13px -3px #598392;
}

.pedaguo{
    -webkit-box-shadow:0px 0px 11px 3px rgba(255,46,189,0.86);
    -moz-box-shadow: 0px 0px 11px 3px rgba(255,46,189,0.86);
    box-shadow: 0px 0px 11px 3px rgba(255,46,189,0.86);
}

.chipContainer {
    margin-top:75px;
    width:100%;
    height:auto;
    display: flex;
    position:sticky;
    justify-content: center;
}

.selectWrapper{
    margin-left:auto;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap:wrap;

}

.select{
    color:black;
width:300px;
    font-family: Orbitron,sans-serif;
}

.chipWrapper{
    width: 100%;
    display: flex;
    padding: 5px 10px 5px 10px;
    background-color: rgba(255,255,255,0.3);
    flex-wrap:wrap;
}

@media  (max-width: 900px) {


    .selectWrapper{
        padding-top:20px;

    }

}

@media  (max-width: 1200px) {


    .selectWrapper{
        margin-top: 15px;
        margin-left: 0;

    }

}